<footer class="footer">
    <div class="footer__content flex">
        <div class="footer__content_social-media">
            <p>Connect with us:</p>
            <a class="footer__content_social-media_link" href="https://www.instagram.com/accounts/login/?hl=en" target="__BLANK">
                <img class="footer__content_social-media_icon" width="36px" height="36px" src="../images/instagram.png" alt="link the instagram">
            </a>
            <a class="footer__content_social-media_link" href="https://www.facebook.com/" target="__BLANK">
                <img class="footer__content_social-media_icon" width="36px" height="36px" src="../images/facebook.png" alt="link to facebook">
            </a>
            <a class="footer__content_social-media_link" href="https://twitter.com/i/flow/login" target="__BLANK">
                <img class="footer__content_social-media_icon" width="36px" height="36px" src="../images/twitter.png" alt="link to x or twitter">
            </a>
        </div>
        <div class="footer__content_copyright">
            <p>&copy; Kylee's Designs 2024</p>
        </div>
    </div>
</footer>   