    <main class="main">
        <div class="main__location">
            <h4 class="main__location_title">Enter your Location</h4>
            <form class="main__location_form flex">
                <input type="text" class="main__location_form_input" id="location" name="location" placeholder="Enter your zipcode here">
                <button class="main__location_form_button flex" type="submit">
                    <img src="images/search-button.png" alt="search" height="20px" class="main__location_form_button-img">
                </button>
            </form>
        </div>
        <div class="main__page-title"></div>
        <div class="main__cards-container flex"></div>
    </main>