:root {
  --primary: #BA5D27;
  --secondary: #0C7674;
  --white: #fffff5;
  --text: #000000;
}

body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-family: "Rosario", sans-serif;
  font-weight: 400;
  background-color: var(--white);
  min-height: 100vh;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0 100px;
}

h2 {
  font-size: 32px;
  font-weight: 500px;
  margin: 0 100px;
}

h3 {
  margin: 25px 100px;
  font-size: 28px;
  color: var(--text);
  font-weight: 600;
  padding-top: 20px;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 100px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.main {
  min-height: 100vh;
}

/* Header */

.header {
  background-color: var(--white);
  padding: 5px 20px 5px 10px;
  border-bottom: var(--primary) 3px solid;
  position: relative;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
} 

.nav__btn {
  height: 40px;
  width: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border: none;
}

.nav__btn:hover {
  cursor: pointer;
}

.nav__btn_lines {
  background-color: var(--primary);
  width: 35px;
  height: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav__btn:hover > .nav__btn_lines {
  background-color: var(--secondary);
  transform: scale(0.98);
}

.nav__btn.open #line1 {
  transform: rotate(-45deg) translate(-10px, 10px);
  background-color: var(--secondary);
}

.nav__btn.open #line2 {
  opacity: 0;
  background-color: var(--secondary);
}

.nav__btn.open #line3 {
  transform: rotate(45deg) translate(-10px, -10px);
  background-color: var(--secondary);
}

.nav__links-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 96px;
  right: -800px;
  background-color: var(--white);
  padding: 10px;
  z-index: 4;
  position: absolute;
  width: 250px;
  height: 100vh;
  transition: visibility 0.8s;
  border-bottom: var(--primary) solid 2px;
  animation: slideOut 0.8s forwards;
  -webkit-animation: slideOut 0.8s forwards;
  border-top: var(--primary) solid 1px;
  border-left: var(--primary) solid 2px;
}

.nav__links-container.open {
  visibility: visible;
  top: 96px;
  right: 0;
  animation: slideIn 0.8s forwards;
  -webkit-animation: slideIn 0.8s forwards;
}

.logo {
  margin-right: auto;
}

.logo_img {
  height: 80px;
  width: auto;
}

.nav_link {
  text-decoration: none;
  text-align: center;
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  padding: 30px 0;
  border-bottom: var(--primary) solid 2px;
  width: 100%;
}

.logo_img:hover {
  transform: scale(.99);
  content: url(images/logo-blue.png);
}

.nav_link:hover {
  transform: scale(.98);
  font-weight: 400;
  color: var(--secondary);
}

/* Footer */
.footer {
  height: auto;
  width: 100%;
  font-size: 10pt;
  font-weight: 300;
  background-color: var(--primary);
  color: var(--white);
  margin-top: 25px;
  border-top: var(--white) solid 3px;
  bottom: 0;
}

.footer__content {
  display: flex;
  height: 85px;
  margin: 0 100px;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__content_social-media, .footer__content_copyright {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.footer__content_social-media_link {
  text-decoration: none;
}

.footer__content_social-media_icon:hover {
  transform: scale(.95);
}

/* Login/Sign-up Pages */
.login-title {
  text-align: center;
  margin-top: 40px;
}

.login-container {
  padding: 20px 50px;
  width: 500px;
  margin: 30px auto 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  border: var(--primary) solid 3px;
  border-radius: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > label {
  margin-top: 25px;
  margin-bottom: 5px;
}

.login-form > input {
  border: var(--primary) solid 2px;
  height: 25px;
  border-radius: 5px;
  background-color: var(--white);
}

.login-form > input:hover {
  border: var(--secondary) solid 2px;
}

.login-form > button {
  width: 300px;
  margin: 30px auto 40px;
  border: none;
  background-color: var(--primary);
  padding: 10px 5px; 
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  font-family: "Rosario", sans-serif;
  color: var(--white);
}

.login-form > button:hover {
  background-color: var(--secondary);
  transform: scale(.98);
  cursor: pointer;
}

.login-container > p {
  text-align: center;
}

.login-container > p > a {
  color: var(--primary);
  font-weight: 500;
}

.login-container > p > a:hover {
  color: var(--secondary);
  font-weight: 400;
  transform: scale(.98);
}

.login-error {
  color: red;
}

/* Homepage */
.main__hero {
  background-image: url(./images/homepage-banner.jpg);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px 0;
}

.main__hero, h1 {
  padding-top: 100px;
}

.main__hero, h2 {
  padding-top: 30px;
}

.main__hero__cta {
  color: var(--white);
}

.main__hero__cta__button {
  border: none;
  padding-top: 50px;
  padding: 15px 30px;
  margin: 90px 100px;
  border-radius: 10px;
  cursor: pointer;
}

.main__hero__cta__button:hover { 
  transform: scale(.97);
}

.main__pet-adoption {
  display: flex;
  height: 700px;
  background-image: url("images/bones-background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0; 
}

.main__pet-adoption_title {
  margin: 0 100px;
}

.main__pet__adoption-img_container {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 70px 0;
  margin: 0 100px;
  flex-wrap: wrap;
  display: flex;
}

.main__link_img-cat, .main__link_img-dog {
  width: 250px;
  height: auto;
  padding: 15px 50px;
}

.main__link_img-cat:hover, .main__link_img-dog:hover {
  transform: scale(.97);
}

.main__link_img-cat:hover {
  content: url(images/cat-button-blue.png);
  z-index: 0;
}

.main__link_img-dog:hover {
  content: url(images/dog-button-blue.png);
  z-index: 0;
}

.main__pet__facts {
  display: flex;
  background-color: var(--primary);
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 700px;
  height: auto;
  width: 100%;
  justify-content: center;
}

.main__facts_img {
  width: 40%;
  height: auto;
}

.main__pet__facts_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin: 0 100px;     

}

.main__pet__facts__div {
  display: flex;
  width: 60%;
  flex-direction: column;
  text-align: left;
  padding-left: 70px;
  padding: 20px 0 30px;
}

.main__pet__facts_text{
  margin: 0 0 25px;
  color: var(--white);
  text-align: center;
}

.main__involved {
  margin: 0 100px;
  height: auto;
  padding-bottom: 75px;
}

.main__involved-title {
  margin: 25px 0 35px;
}

.main__involved_info-container {
  display: flex;
  column-gap: 25px;
  row-gap: 100px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main__involved_info_img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.main__involved_info_subtitle {
  color: var(--secondary);
  padding: 10px 0;
  margin-left: auto;
}

.main__involved_info-container_adopt, .main__involved_info-container_foster, .main__involved_info-container_volunteer {
  width: 300px;
  height: 500px;
}

.main__involved_info_text {
  text-wrap: wrap;
  font-size: 12pt;
  margin: 15px 0 20px;
}

.main__involved_info_link {
  color: var(--primary);
  text-decoration: none;
  font-size: 16pt;
  padding-top: 25px;
}

.main__involved_info_link:hover {
  color: var(--secondary);
  text-decoration: underline;
  font-size: 15.9pt;
  transition: 0.4s;
}

/* Cat & Dog Page */
.main__location {
  text-align: center;
  align-items: center;
  margin: 25px 100px;
}

.main__location_title {
  margin-bottom: 20px;
}

.main__location_form {
  display: flex;
  justify-content: center;
}

.main__location_form_input {
  width: 500px;
  height: 30px;
  border: var(--primary) solid 2px;
  border-radius: 5px;
  background-color: var(--white);
}

.main__location_form_button {
  padding: 3px 5px;
  background-color: var(--white);
  border-radius: 5px;
  border: var(--primary) solid 2px;
  margin-left: 5px;
}

.main__location_form_button:hover {
  scale: .97;
  cursor: pointer;
  border: var(--secondary) 2px solid;
  content: url(./images/search-button-blue.png);
  z-index: 0;
}

.main__location_form_input:hover {
  border: var(--secondary) 2px solid;
  z-index: 0;
}

.main__location_form_input::placeholder {
  text-align: center;
  color: var(--text);
}

.cards-title {
  text-align: center;
}

.cards__container {
  display: flex;
  margin: 30px 100px 75px;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: 20px;
  text-wrap: wrap;
  width: 275px;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: var(--primary) solid 2px;
  text-decoration: none;
}

.animal-name {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 10px 0;
  color: var(--primary);

}

.card-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
  /* border: var(--white) solid 2px; */
}

.card-info-container {
  width: 100%;
  color: var(--text);
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
}

.card-info-animal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: -20px;
  margin:  0 55px -15px;
}

.info-divider {
  background-color: var(--primary);
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.card-info-location {
  color: var(--primary);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.card:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  scale: .99;
  transition: 0.4s;
  cursor: pointer;
  z-index: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pagination > button {
  border: var(--primary) solid 2px;
  border-radius: 5px;
  padding: 3px 5px;
  width: 100px;
  background-color: var(--white);
  font-size: 14px;
  font-weight: 500;
}

.pagination > button:hover {
  border: var(--secondary) solid 2px;
  transform: scale(.98);
  cursor: pointer;
}

/* Individual Pet Page */

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 600px;
  position: relative;
  background-color: #222222;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin: 0 auto;
}

.mySlides > img {
  object-fit: cover;
  object-position: center;
  max-width: 1000px;
  height: 600px;
}

/* Next & previous buttons */
.prevImage, .nextImage {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: -22px 14px 0 14px;
  padding: 16px;
  color: var(--white);
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.nextImage {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevImage:hover, .nextImage:hover {
  background-color: #111111;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--white);
  font-size: 16px;
  padding: 12px 16px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  height: 70px;
  margin-top: -5px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px 4px;
  background-color: #bebebe;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--white);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.animal-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.animal-info > h2 {
  color: var(--primary);
  margin-top: 70px;
}

.information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.information:nth-child(3) {
  margin-bottom: 20px;
}

.divider {
  width: 8px;
  height: 4px;
  background-color: var(--primary);
  border-radius: 3px;
}

.small-divider {
  width: 6px;
  height: 3px;
  background-color: var(--primary);
  border-radius: 3px;
}

.animal-nav {
  display: flex;
  border-bottom: var(--primary) solid 2px;
  border-top: var(--primary) solid 2px;
  text-decoration: none;
  color: var(--primary);
}

.animal-nav-link {
  text-decoration: none;
  color: var(--primary);
  padding: 20px 30px;
}

.animal-nav > a:hover, .animal-nav > a:focus {
  background-color: var(--primary);
  color: var(--white);
  transition: 0.2s;
}

.animal-nav-link.active {
  background-color: var(--primary);
  color: var(--white);
}

/* Favorites Page */

/* Media Queries */

/* Animations */
@keyframes slideIn {
  0% { right: -800px; }
  100% { right: 0px; }  
}

@-webkit-keyframes slideIn {
  0% { right: -800px; }
  100% { right: 0px; }  
}

@keyframes slideOut {
  0% { right: 0px; }  
  100% { right: -800px; }
}

@-webkit-keyframes slideOut {
  0% { right: 0px; }  
  100% { right: -800px; }
}